
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1;
}

@font-face {
  font-family: "Alata";
  src: url("../fonts/Alata-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.61);
  border-radius: 100px;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000;
}

body input:required:valid,
body textarea:required:valid {
  color: #000;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Alata", sans-serif;
  overflow-x: hidden;
  opacity: 1;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}


header .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

header .logo {
  max-width: 150px;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}

header .mnu_top {
  list-style-type: none;

}

header .mnu_top li {
  display: inline-block;
  padding: 0 10px;
}

header .mnu_top li a {
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

header .mnu_top li a:hover {
  color: black;

  border-bottom: 3px #F6D330 solid;
}

header .mnu_top li a:active {
  color: black;

  border-bottom: 3px #F6D330 solid;
}

header .mnu_top li a:visited {
  color: #000;
  text-decoration: none;
}

.backgroundmerge {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/robert-bye-R-WtV-QyVnY-unsplash.png');
  height: 100vh;
  text-align: center;
}


#main .container {

  background-position: bottom;
  background-repeat: no-repeat;
  padding: 150px 0;

  background-image: url('../images/Group\ 200.png');
  position: relative;

}

#main::before {
  content: ' ';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #000000 4.66%, rgba(0, 0, 0, 0) 76.78%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
}

#main .inner>h1 {
  font-size: 115px;
  color: #FFFFFF;
}

#main .inner>.description {
  margin: 15px 0 30px;
  color: #FFFFFF;
}

.btn {
  text-decoration: none;
  color: #111;
  background-color: #F9D023;
  transition: all .4s ease;
  padding: 10px 15px;
  font-weight: 700;
}

.btn:hover {
  background-color: #fff;
}

#content {
  padding: 50px 0;
  height: 100vh;
}

#content .triangle {
  width: 6px;
  ;
  height: 100px;
  ;
  content: ' ';
  background: #F6D330;
  ;
  transform: rotate(-90deg);
  margin-left: 5vh;
}

.p_container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

#content .inner_content h2 {
  font-size: 90px;
}


#content-service {
  padding: 50px 0;
  height: 100vh;
  background-color: #F6D330;
  text-align: left;
  font-family: 'Alata';
}

#content-service .triangle {
  width: 6px;
  ;
  height: 100px;
  ;
  content: ' ';
  background: #FFFFFF;
  transform: rotate(-90deg);
  margin-left: 5vh;
}

#content-service p {
  top: calc(50% - 80px/2 + 157.5px);

  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 80px;
  /* identical to box height, or 89% */


  color: #000000;
}

.ul-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-basis: 22%;
  list-style-type: square;
  line-height: 1.5;
}

.ul-elements li {

  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */
  color: #0B0D21;
}

.ul-elements h2 {
  font-size: 40px;
  line-height: 42px;
  flex-grow: 1;
  color: #000000;
  padding-bottom: 10px;

}

.content-sevice-text-2 {
  margin-top: 10%;
  font-family: 'Alata';
}

.img-class {
  width: 486px;
  height: 315px;
}

#content .inner_content p {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */

  display: flex;
  align-items: center;

  color: #0B0D21;
  margin-left: 100px;
}

#content-contact {
  height: 74vh;
  background-color: black;
  text-align: left;
  font-family: 'Alata';
  display: flex;
  flex-direction: row;
  padding: 10px;
}

#content-contact .container {
  display: flex;
  justify-content: center;

}

.form {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  /* or 105% */
  color: #FFFFFF;
  width: 100%;
  margin-left: 50px;
  margin-top: 3%;
  text-align: justify;
  float: right;
}

.form #text {
  height: 40px;
  width: 60%;
}

.btn-form {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.6px;
  width: 40%;
  height: 40px;
  color: black;
  background-color: #F6D330;
  float: right;
  margin-right: 40%;
}

::placeholder {
  color: #000000;
  font-family: 'Alata';
  font-weight: 500;
  font-style: normal;
  font-size: 14px;

}

.btn-form:hover {
  background-color: #fff;
}

#content-contact .triangle {
  width: 6px;
  height: 100px;
  content: ' ';
  background: #F9D023;
  transform: rotate(-90deg);
  margin-left: 5vh;
}

#content-contact p {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100px;
  color: #FFFFFF;
}

.content-contact-text h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  /* or 105% */
  color: #FFFFFF;
}

.content-contact-text h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  /* or 105% */
  color: #F9D023;
}





/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
  display: none;
  /* используем flex для центрирования содержимого */
  align-items: center;
  /* центрируем содержимое кнопки */
  position: relative;
  width: 26px;
  right: 10px;
  height: 26px;
  cursor: pointer;
  z-index: 3;
}

/* добавляем "гамбургер" */
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 2;
  opacity: 0.8;
}

.menu__item img {
  justify-content: center;
  background-color: black;
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
}

.menu__item:hover {
  background-color: white;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}



.navigation-page {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-left: 92%;
  margin-top: 10%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;

  color: black;

}

.navigation-page img {
  margin-bottom: 5px;


}

.navigation-page li {
  color: black;
  list-style-type: none;
  list-style: none;
  margin-top: 50px;
}

.navigation-page a {
  color: black;
  list-style-type: none;
  list-style: none;
}

.navigation-page2 {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-left: 92%;
  margin-top: 20%;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: right;
  z-index: 1;
  color: #FFFFFF;

}

.navigation-page2 img {
  margin-bottom: 5px;


}

.navigation-page2 li {
  color: white;
  list-style-type: none;
  list-style: none;
  margin-top: 50px;
}

.navigation-page2 a {
  color: white;
  list-style-type: none;
  list-style: none;
}

.scrollmore {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
